<%= form_with(model: prototype) do |form| %>
  <% if prototype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prototype.errors.count, "error") %> prohibited this prototype from being saved:</h2>

      <ul>
        <% prototype.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<div class="wrapper-container">
  <h1>ай виш ю</h1>

  <div class="wrapper-container_cards">
    <% @prototypes.each do |prototype| %>
      <div class="wrapper-container_cards_item">
          <%= link_to 'Show', prototype %>
            <%= link_to 'Show', :class => "wrapper-container_cards_item", prototype %>
          <%= prototype.name %>
          <%= prototype.description %>
          <%#= link_to 'Edit', edit_prototype_path(prototype) %>
          <%#= link_to 'Destroy', prototype, method: :delete, data: { confirm: 'Are you sure?' } %>-->
      </div>
    <% end %>
  </div>

</div>

  <%= link_to 'New Prototype', new_prototype_path %>
